.create-section{
    width: 100%;
    background-color: $white;
    padding-top: 90px;
    .create-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        @media screen and (max-width: 700px) {
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
        }
        .create-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1125px) {
                img{
                    width: 100%;
                }
            }
            @media screen and (max-width: 450px) {
                width: 75%;
                img{
                    width: 65%;
                    height: 100%;
                }
            }
            .feature{
                @include feature-second();
                h3{
                    text-align: center;
                }
                h5{
                    text-align: center;
                }
                @media screen and (max-width: 450px) {
                    width: 50%;
                }
            }
            .web-builder{
                width: 100%;
                height: 50px;
                display: flex;
                margin-top: 70px;
                @media screen and (max-width: 450px) {
                    width: 75%;
                }
                .circle{
                    width: 80px;
                    height: 80px;
                    border: 1px solid $grey;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i{
                        font-size: 26px;
                        color: $blue;
                    }
                }
                .builder{
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                    padding-top: 5px;
                    h4{
                        color: $black;
                        font-size: 22px;
                    }
                    p{
                        color: $grey;
                        opacity: 0.6;
                        font-size: 14px;
                        padding-top: 5px;
                    }
                }
            }
            .all-design{
                display: flex;
                width: 100%;
                margin-top: 70px;
                @media screen and (max-width: 450px) {
                    width: 55%;
                }
                a{
                    width: 200px;
                    height: 35px;
                    background-color: $blue;
                    color: $white;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                }
                .signup{
                    width: 170px;
                    height: 35px;
                    background-color: $white;
                    color: $pink;
                    border: 1px solid $pink;
                    margin-left: 10px;
                }
            }
        } 
    }
}