.offer-section{
    width: 100%;
    background-color: $white;
    padding-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid $grey;
    .offer-items{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .feature{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                font-size: 27px;
                color: $black;
                border-bottom: 1px solid black;
            }
            h5{
                color: $blue;
                font-size: 18px;
                padding-top: 15px;
            }
        }
        .servers{
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: 20px;
            padding-top: 50px;
            @media screen and (max-width: 700px) {
                grid-template-columns: 1fr 1fr;
                grid-row-gap: 20px;
            }
            @media screen and (max-width: 630px) {
                grid-template-columns: 1fr;
            }
            .server:hover{
                background-color: $white;
                transition: 0.5s;
            }
            .server:hover .hosting h4{
                color: $blue;
                transition: 0.5s;
            }
            .server:hover .hosting i{
                color: $blue;
            }
            .server{
                width: 100%;
                height: 350px;
                background-color: $blue;
                border: 2px solid $blue;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 50px;
                padding-bottom: 20px;
                .laptop{
                    width: auto;
                    height: auto;
                    i{
                        font-size: 50px;
                        color: $white;
                    }
                }
                .hosting{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    h4{
                        color: $white;
                        font-size: 22px;
                        margin-top: 20px;
                        width: 100px;
                    }
                    p{
                        color: $grey;
                        opacity: 0.8;
                        font-size: 14px;
                        padding-top: 20px;
                    }
                    .small-circle{
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        border: 1px solid $grey;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        i{
                            font-size: 20px;
                            color: $black;
                        }
                    }
                }
            }
            .server-white{
                background-color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 50px;
                padding-bottom: 20px;
                height: 350px;
                border: 2px solid $blue;
                width: 100%;
                .laptop{
                    width: auto;
                    height: auto;
                    i{
                        font-size: 50px;
                        color: $blue;
                    }
                }
                .hosting{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    h4{
                        color: $blue;
                        font-size: 22px;
                        margin-top: 20px;
                        width: 100px;
                    }
                    p{
                        color: $grey;
                        opacity: 0.8;
                        font-size: 14px;
                        padding-top: 20px;
                    }
                    .small-circle{
                        width: 50px;
                        height: 50px;
                        border-radius: 100%;
                        border: 1px solid $grey;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        i{
                            font-size: 20px;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}