.slider-section {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 20px;
}

.slider-section .slider-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media screen and (max-width: 1050px) {
  .slider-section .slider-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.slider-section .slider-items .web-hosting {
  width: 100%;
  height: auto;
  padding-top: 30px;
  -webkit-animation: fadeInLeft 1000ms both;
          animation: fadeInLeft 1000ms both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.slider-section .slider-items .web-hosting h3 {
  color: #fff;
  font-size: 56px;
}

.slider-section .slider-items .web-hosting .disk {
  width: auto;
  height: auto;
  margin-top: 30px;
}

.slider-section .slider-items .web-hosting .disk .disk-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #b1b1b1;
  font-size: 19px;
  margin-top: 5px;
}

.slider-section .slider-items .web-hosting .disk .disk-item h5 {
  padding-left: 5px;
}

.slider-section .slider-items .web-hosting .start-now {
  width: 250px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e54b84;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  margin-top: 30px;
}

.slider-section .slider-items .web-hosting .start-now i {
  padding-left: 10px;
}

.slider-section .slider-items .web-hosting .start-now:hover {
  background-color: #fff;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-section .slider-items .slider {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 30px;
}

@media screen and (max-width: 1125px) {
  .slider-section .slider-items .slider img {
    width: 100%;
  }
}

.slider-section .slider-items .slider .circle-pink {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #e54b84;
  position: absolute;
  top: 0px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

@media screen and (max-width: 1125px) {
  .slider-section .slider-items .slider .circle-pink {
    display: none;
  }
}

.slider-section .slider-items .slider .circle-pink h4 {
  color: #fff;
  padding-top: 8px;
}

.slider-section .slider-items .slider .circle-white {
  width: 100px;
  height: 100px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 130px;
}

@media screen and (max-width: 1125px) {
  .slider-section .slider-items .slider .circle-white {
    display: none;
  }
}

.slider-section .slider-items .slider .circle-white h5 {
  font-size: 15px;
  color: #333;
  text-align: center;
}
/*# sourceMappingURL=slider.css.map */